@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
        <center>
            <p><p><p><p>

                <div id="base">

	<div id="header"> 
        
        <h1>* * * * - La Mejor Fiesta De Nuestas Vidas - * * * * </h1>
          

	</div>



    
	<div id="center">
    
    	<div id="sideL"> 
        
         <ul class="menulista">
         
         <li> <a href="maqueta.html">Principal</a></li>
     >
          
         </ul>
         
         
         
      </div>
        
        <div id="centro">
            <marquee scrolldelay="5">
        <h1> * * * * - NUESTRA BODA - * * * * -* * * * - NUESTRA BODA - * * * * </h1>
          </marquee>
        <p class="justificado">

       <b>@ViewBag.Greeting Gracias Por Brindarnos Su Atencion  </b> (Form the view)
            <p class="justificado">
        <p> Te Esperamos El Dia 27 de Diciembre del 2014   <br />
            <p class="justificado">
                
                <img src="~/Views/Home/IMAGENES/PLAN.jpg" />
             </p>   
        @Html.ActionLink("RSVP Ahora", "RsvpForm");
        
        
        </p>
        </div>
        
        <div id="sideR">
        <ul class="menulista">
         
         </ul></div>
    </div>
    
    <div id="footer"> <h4> Domicilio conocido por todos 
      <p></p>
    </div>       

</div>















               
        
                    
        </center>
    </div>
</body>
</html>
